# Test configuration when developing with superset
/superset_config.py

# Test data
.pytest_cache

# Development Python environments
*venv

# IDE files
*.idea

# Build artifacts
/dist
/build
*.egg-info/

# Temporary development stuff (tests/etc)
/dev

# Python cruft
*.pyc

# C extensions
*.so
*.pyd

