# Test data
.pytest_cache

# Development Python environments
*venv

# IDE files
*.idea

# Build artifacts
/dist
/build
*.egg-info/

# Temporary development stuff (Manual tests, etc.)
/dev
test.env

# Python cruft
*.pyc
.python-version

# C extensions
*.so
*.pyd

