pytz
urllib3>=1.26
setuptools
certifi
sqlalchemy>1.3.21,<2.0
cython==3.0.8
pyarrow
pytest
pytest-mock
pytest-dotenv
numpy~=1.22.0; python_version >= '3.8' and python_version <= '3.10'
numpy~=1.26.0; python_version >= '3.11'
pandas
zstandard
lz4